nav
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 200px;
}

li a {
    display: block;
    color: blue;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: lightblue;
    color: white;
}


h1 {
    font-size: 140%;
    color: white;
}
h2{
    font-size: 90%;
    color: white;
}
body {
    background-image: url("progammeren.jpg");
    background-repeat: inherit;
}

h3 {
    color: white;
}
h4 {
    color: white;
}